@{
    ViewData["Title"] = "LOJA DO CORINTHIANS";
}

<div class="container-fluid fundoBrancoSeccao shadow">
    <div class="container fundoBrancoSeccao">
        <div class="py-4">
            <partial name="_Carrossel" />
        </div>
    </div>
</div>

<div class="fraseBlackFraude text-center my-4">
    <h1>BLACK FRIDAY DO TIMÃO</h1>
</div>


<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">
    <partial name="_Produto" />
</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">
    <partial name="_Produto" />
</div>







